<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArQUmzUxge9E45ZRB82RCmW8PGt_S5jtc</string>
	<key>GCM_SENDER_ID</key>
	<string>58433730288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adsInquiryAdmin</string>
	<key>PROJECT_ID</key>
	<string>ads-inquiry</string>
	<key>STORAGE_BUCKET</key>
	<string>ads-inquiry.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58433730288:ios:83d2057fb5ab56d05cf435</string>
</dict>
</plist>